PROJECT_NAME="Alloyd Phase 1"
DATABASE_URL="sqlite+aiosqlite:///./alloyd.db"
SECRET_KEY="replace_with_strong_secret_key"
ENCRYPTION_KEY="replace_with_32_byte_url_safe_base64_string="
ACCESS_TOKEN_EXPIRE_MINUTES=10080
